@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&display=swap");
:root {
  --main-color-1: rgb(129, 88, 252);
  --main-color-2: rgb(60 25 169);
  --colo-primary-card: rgba(129, 88, 252, 0.699);
  --main-color-dark: #242425;
  --main-color-dark-1: #636277;
  --main-color-dark-2: #8489a3;
  --bg-color-transparent:rgba(255,255,255,0.6);
  --bg-color: #f5f5f5;
  --bg-color-2: #ffffff;
  --bg-color-3: #d1cccc;
  --colo-white-3: #f8f8f8;
  --nav-after-color: rgb(226 216 255 / 70%);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --section-padding:7rem;
}
/*----------estilo geral----------*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    overflow-x: hidden;
    background-color:var(--bg-color-body) ;
    font-family: "Poppins", sans-serif;
    transition: 0.3s background-color;
    
}

body.stopScrolling{
    height:100%;
    overflow:hidden;
}

::selection{
    background-color:var(--nav-after-color);
    /* color: #fff; */
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

 /*-----------reutilizável CSS code----------- */

 .container{
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.logo{
    margin-right: 1.5rem;
    font-family: "Abril Fatface",cursive;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--main-color-1);
    letter-spacing: 1px;
    transition: 0.3s;
}

.logo span{
    color:var(--main-color-2);
}
.logo-portifolio{
    font-size: 1.5rem;
    color: var(--main-color-dark-2);
    font-weight: 700;
}
.logo-portifolio span{
    color: var(--main-color-2);
}
.sub-heading{
    color: var(--main-color-1);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.3s color;
}

.heading{
    color: var(--main-color-dark-1);
    font-size: 3rem;
    font-family: "Abril Fatface", cursive;
    font-weight: 400;
    line-height: 1.3;
    transition:0.3s color;
}

.text{
    color: var(--main-color-dark-2);
    font-size: 0.9rem;
    margin: 2rem 0;
    line-height: 2.3;
    transition:0.3s color;
}

.cta{
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.cta .btn{
    margin-right: 1.5rem;
}

.btn{
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 17px;
    background-color: var(--main-color-2);
    box-shadow: 0 0 .5rem var(--main-color-2);
    color:#fff;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    min-width: 125px;
    text-align: center;
    text-transform: capitalize;
    border:none;
    outline:none;
    font-family:inherit;
    cursor:pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--main-color-1);
    box-shadow: none;
}

.btn.secondary-btn{
    position: relative;
    background-color: transparent;
    color: var(--main-color-1);
    font-weight: 500;
    font-size:0.9rem;
    letter-spacing:  0.4px;
    border-bottom: 2.5px solid var(--main-color-2);
    border-radius: 0px;
    padding: 0.15rem 0;
    min-width: revert;
}

.btn.secondary-btn::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: var(--main-color-1);
    transition: 0.3s ease-in-out;
}

.btn.secondary-btn:hover::before{
    width: 100%;
}


.btn.secondary-btn.sm {
    padding: 0.07rem 0.1rem;
    font-size: 0.78rem;
    border-bottom-width:2px ;
}

.btn.secondary-btn.sm::before {
    height: 2px;
    bottom: -2px;
}

.section {
    position: relative;
    padding: var(--section-padding) 0;
}

.form-input{
        display: inline-block;
        padding: 0.9rem 1.5rem;
        background: var(--nav-after-color);
        border: 2px solid var(--nav-after-color);
        width: 100%;
        border-radius: 17px;
        font-family: inherit;
        font-size: 0.85rem;
        font-weight: 500;
        color: var(--main-color-2);
        outline: none;
        transition: 0.3s;
}
.form-input::placeholder{
    color:var(--main-color-dark-2);    
}

.form-input:hover{
    filter:brightness(97%);
}
.form-input:valid,
.form-input:focus{
    filter:brightness(100%);
    background:var(--bg-color-2);
    border-color:var(--main-color-2);
}

.triangle{
    width: 95px ;
    opacity: 0.18;
    filter: hue-rotate(310deg);
 }
 
.dots{
    width: 112px;
    filter: hue-rotate(310deg);

}

.square{
    width: 70px;
    filter: hue-rotate(310deg);
}
/*-----------Navbar styling----------- */

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
}

header.scrolled{
    background-color: var(--bg-color-transparent);
    box-shadow: 0 5px 18px 0.1px rgba(0,0,0,0.1);
    backdrop-filter: blur(15px);
}
nav.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header .logo{
    height: 120px;
    line-height: 120px;
}

header.scrolled .logo{
    height: 80px;
    line-height: 80px;
} 

.links{
    flex:1;
     display: flex;
    justify-content: space-between;
}

header nav{
        justify-content: space-between;
    }
.links ul{
    display:flex;
    align-items: center;
    width:100%;
}

.nav-link{
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: var(--main-color-dark-1);
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;
}

.nav-link::after{
    content: "";
    position: absolute;
    width: 0;
    height:10px;
    border-radius: 5px;
    background-color: var(--main-color-1);
    bottom: 0;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}

.nav-link:hover, .nav-link.active{
    color:var(--main-color-2);
}

.nav-link:hover::after, .nav-link.active::after{
    width:100%;
    opacity: 0.2;
}

.toggle-btn{
    color:var(--main-color-1);
    min-width:40px;
    height: 40px;
    background-color: var(--bg-color-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    transition: 0.3s;
    margin-right: -6.5rem;
}

.toggle-btn:hover {
    filter: brightness(97%);
}
.hamburger{
    display:none;
    padding: 1rem 0;
    height: 12px;
    width: 25px;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;
}

.hamburger .bar{
    width: 100%;
    height: 2px;
    background-color: var(--main-color-1);
    border-radius: 3px;
    position: absolute;
}

.hamburger .bar:first-child{
    top: 1rem;
    transition:top 0.2s 0.15s, transform 0.3s;
}

.hamburger .bar:last-child{
    bottom: 1rem;
    transition: bottom 0.2s 0.15s, transform 0.3s;
}

body.open .hamburger .bar:first-child{
    top:50%;
    transform:translateY(-50%) rotate(-45deg);
    transition:top 0.2s, transform 0.3s 0.1s;
}

body.open .hamburger .bar:last-child{
    bottom:50%;
    transform:translateY(50%) rotate(45deg);
    transition:bottom 0.2s, transform 0.3s 0.1s;
}

/*-----------Showcase Area styling----------- */
#section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-content h3{
    font-size: 2rem;
    font-weight: 700;
    color: var(--main-color-2);
}
.home-content h3:nth-of-type(1){
    padding: 0.13rem 0.75rem;
    border-left: 3px solid var(--main-color-1);
}
.home-content h3:nth-of-type(2){
    margin-bottom: 1rem;
}
.home-content span{
    color: var(--main-color-1);
    font-style: italic;
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--main-color-dark-1);
}
.home-content p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--main-color-dark-2);
}
.home-img #fundo{
    width: 30vw;
    border-radius: 40%;
    animation: IMG 2s ease-in-out infinite;
}
@keyframes IMG {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1.6rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home-img .circle{
    position: absolute;
    filter: hue-rotate(310deg);
    width: 160px;
    left: 24rem;
    top: 90%;
    transform: translate(-50%, -50%);
}
.home-img .dots{
    position: absolute;
    left: 93%;
    top: 15%;
    transform: translate(-50%, -50%);

}

.home-img .square{
    position: absolute;
    left: 25%;
    bottom:65px;
    transform:translate(-50%, -50%);
}

.social-media-icon a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.3rem;
    color: var(--main-color-dark);
    background: transparent;
    border: 1px solid var(--main-color-2);
    border-radius: 10px;
    margin: 1.5rem 3rem 1.5rem 0;
    transition: 0.5 ease;
}
.social-media-icon a:hover{
    background: var(--main-color-2);
    color: var(--bg-color);
    box-shadow: 0 0 .5rem var(--main-color-2);
}
/*-----------About Section styling----------- */

.about .container{
    display: grid;
    grid-template-columns: 1.05fr 1fr;
}
.about .text {
    margin: 3rem 0 4rem;
}

.about-grid{
    display:grid;
    grid-template-columns: 190px 190px;
    grid-template-rows: 190px 190px;
    justify-content: center;
    column-gap: 2.5rem;
    row-gap: 100px;
    margin-right: 2rem;
    position: relative;
}

.about-card{
    background-color: var(--bg-color-2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s transform, 0.3s background-color;
}

.about-card:nth-child(1){
    border-radius: 40px 40px 5px 40px;
}
.about-card:nth-child(2){
    margin-top: 50px;
    border-radius: 40px 40px 40px 5px;
}

.about-card:nth-child(3){
    margin-top: -50px;
    border-radius: 40px 5px 40px 40px;
}

.about-card:nth-child(4){
    border-radius: 5px 40px 40px 40px;
}

.icon{
    width: 60px;
}

.about-card h3{
    color: var(--main-color-2);
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1rem;
    letter-spacing: 0.3px;
    transition:0.3s color;
}

.about-card:hover{
    transform: scale(1.1) ;
}

.about-grid::before{
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    border: 15px solid var(--main-color-1);
    z-index: -1;
    opacity: 0.07;
}

.about .triangle{
    position: absolute;
    left: 90%;
    top: 27%;
    transform: translate(-50%,-50%);
}
/*-----------faq serviços styling----------- */ 
.accordion {
    background-color: var(--bg-color-2);
  color: var(--colo-primary-card);
  cursor: pointer;
  font-size: 1.3rem;
  width: 100%;
  padding: 1.6rem 1.3rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  opacity: 1;
}
.accordion:hover {
    transform: translate(4px, 10px);
    background-color: var(--nav-after-color);
}
.accordion.active:hover{
    transform: translate(0px);
}

.accordion i {
  font-size: 1.6rem;
}

.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: var(--nav-after-color);
  display: none;
}
.pannel p {
    color: var(--main-color-dark-2);
    font-size: 1.6rem;
    line-height: 1.4;
    margin-top: 20px;
}

.faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}
.faq.active {
    border: none;
}
 /*-----------contato serviços styling----------- */
 
 .contact .container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    column-gap:4rem;
}

.mail {
    color: var(--main-color-2);
    font-weight:500;
    font-size:1.1rem;
    transition:0.3s;
}
.mail i {
    display:inline-block;
    font-size:1.5rem;
    margin-left:2px;
    transform:translateY(3px);
    transition:0.3s margin-left;
}    
.mail:hover{
    color:var(--colo-primary-card);
}
.mail:hover i{
    margin-left:10px;
}

.contact-form{
    background-color:var(--bg-color-2);
    border-radius:20px;
    padding:3.5rem 3rem;
    display:flex;
    flex-direction:column;
    transition:0.3s background-color;
}

.contact-form h3 {
    color: var(--main-color-dark-2);
    font-size:1.3rem;
    font-weight:500;
    margin-bottom:1.6rem;
    line-height:0.9;
    transition:0.3s color;
}

textarea.form-input{
    resize:none;
    min-height:170px;
}

.contact-form .form-input {
    margin-bottom:1.5rem;
}

.contact .square{
    position:absolute;
    left:17%;
    bottom:15%;
    transform:translate(-50%, 50%);
}
.contact .square{
    position:absolute;
    left:90%;
    top:98%;
    transform:translate(-50%, 50%);
}
/*----------- footer styling----------- */

footer{
    padding:4rem 0;
}

footer .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

footer .social-media {
    display:flex;
}

.social-link{
    width:35px;
    height:35px;
    border-radius:50%;
    margin-left:1rem;
    background-color:var(--colo-primary-card);
    color:var(--main-color-2);
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.3s;
}

.social-link:hover {
    color:var(--main-color-1);
}
@media (max-width: 1200px){
    .home-content h3{
        font-size: 1.5rem;
    }
    .home-content h1{
        font-size: 3.4rem;
        
    }
}
@media (max-width: 1000px){
    .sub-heading{
        font-size: 0.75rem;
    }
    .heading{
        font-size: 2rem;
    }
    .showcase-area .heading {
        font-size: 2.7rem;
    }
    .text{
        font-size: 0.84rem;
        margin: 1.3rem 0;
    }
    .btn{
        padding: 0.8rem 1.6rem;
        font-size: 0.8rem;
        border-radius: 15px;
        min-width: 100px;
    }

    .btn.secondary-btn{
        font-style: 0.85rem;
    }

    .form-input{
        padding: 0.8rem 1.45rem;
        border-radius: 15px;
        font-size: 0.8rem;
    }
    .logo{
        font-size: 1.45rem;
    }

    header .logo{
        height: 100px;
        line-height: 100px;
    }

    .nav-link{
        font-size: 0.7rem;
    }
    #logo2{
        font-size: 1.4rem;
    }
    .home-content h3{
        font-size: 1.6rem;
    }
    .home-content h1{
        font-size: 3rem;
    }
}
@media (max-width: 900px){
    #section{
        padding: 10rem 3% 2rem;
    }
}
@media (max-width: 773px){
    #logo2{
        display: none;
    }
    .hamburger{
        display:block;
        /*background:black;*/
    }
    .links{
        order:3;
        flex-basis:100% ; /*width: 100%*/
        flex-direction:column;
        align-items:center;
        justify-content:center;
        padding:0.5rem 0 2rem;
        opacity:0;
        transition:0.3s;
    }
    
    .links ul{
        position:relative;
        flex-direction:column;
    }
    
    .nav-link{
        margin:1.5rem 0;
        color:var(--heading-color);
        font-weight:500;
    }
    
    .toggle-btn{
        margin:0;
    }
    
    .links ul::after{
        content: "";
        position:absolute;
        width:0%;
        height: 0.5px;
        background-color:var(--heading-color);
        opacity:0;
        top:-0.5rem;
        left:50%;
        transform:translate(-50%, -50%);
        transition:0.3s;
    }
    
    .overlay {
        width:100vw;
        height:100vh;
        top:0;
        left:0;
        position:fixed;
        background-color: rgba(0,0,0, 0.7);
        z-index:6;
        opacity:0;
        transition:0.3s;
        pointer-events:none;
    }
    header{
        height:505px;
        max-height:100px;
        overflow:hidden;
    }
    header.scrolled{
        height:485px;
        max-height:80px;
    }
    body.open header{
        max-height: 460px;
        background-color:var(--bg-color-2);
    }
    
    body.open .overlay {
        opacity:1;
        pointer-events:auto;
    }
    body.open .links  ul::after{
        opacity:0.7;
        width:100%;
    }
    
    body.open header.scrolled{
        max-height:485px;
    }
    body.open .links{
        opacity:1;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2rem;
    }
    .home-content h1{
        font-size: 3.4rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .social-media-icon a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
}
@media (max-width: 450px){
    .home-content h3{
        font-size: 1.3rem;
    }
    .home-content h1{
        font-size: 2.4rem;
    }
    .social-media-icon a {
        margin: 2rem 1.4rem 1.5rem 0;
    }
}
@media (max-width: 360px){
    .home-img img{
        width: 90vw;
    }
    .social-media-icon a {
        margin: 2rem 0.5rem 1.5rem 0;
    }
}